<div class="header">
    <app-menu class="menu"></app-menu>
    <p class='title'>{{global.title}}</p>
    <div *ngIf='!global.loggedin' class="buttons">
        <button *ngIf="appConfig.config.enableRegister" class="button btn btn-primary" (click)='displayRegisterDialog()'> 注册</button>
        <button class="button btn btn-primary" (click)='displayLoginDialog()'> 登陆</button>
    </div>
    <div *ngIf="global.loggedin && global.title" (click)="edit()">
        <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
    </div>
</div>