<div class="container">
  <form class="form" #uploadForm="ngForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="name">名字</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="name" name='name' [(ngModel)]='article.name' #name='ngModel' required>
        <input id="file-input" type="file" [accept]='allowedFile' style="display: none;" />
      </div>
      <div class="col-sm-4" [hidden]="name.valid || name.pristine" class="alert alert-danger">
          *必需项
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="filename">文件({{allowedFile}})</label>
      <div class="col-sm-10">
        <input type="text" class="form-control col-sm-5 input" [(ngModel)]='article.filename' #filename='ngModel' name='filename' required>
        <button class='btn select col-sm-3' (click)='selectFile()' >选择文件</button>
      </div>
    </div>
    <div class="form-group row radioContainer">
      <div class="form-check-inline col-sm-6">
        <input class="form-check-input" type="radio" name="radios" [value]="true" [(ngModel)]='article.public' required>
        <label class="form-check-label" for="radio1">
          公开
        </label>
      </div>
      <div class="form-check-inline col-sm-5">
        <input class="form-check-input" type="radio" name="radios" [value]="false" [(ngModel)]='article.public' required >
        <label class="form-check-label" for="radio2">
          私密
        </label>
      </div>    
    </div>
    <div class="row col-sm-12 submit">
        <button type="button" [disabled]='!uploadForm.form.valid' class="btn btn-primary" (click)='submit()'>提交</button>
    </div>
  </form>
</div>